@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import "tailwindcss";
@source "../app/**/*.{js,jsx,ts,tsx}";
@source "../components/**/*.{js,jsx,ts,tsx}";

@layer components {
  .menu-link {
    font-family: Barlow, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.133333px;
    line-height: 18px;
    color: rgb(30, 34, 56);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .menu-title {
    font-family: Barlow, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.133333px;
    line-height: 18px;
    color: rgb(30, 34, 56);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}
